<!doctype html><meta charset=utf-8><script src=https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js></script><style>table{border-collapse:collapse}td{border:1px solid gray;padding:2px 5px;text-align:center}</style><div id=grid-holder><table><thead><tr><th>Имя<th>Возраст<tbody><tr><td>Вася<td>10<tr><td>Петя<td>15<tr><td>Женя<td>20<tr><td>Маша<td>25<tr><td>Даша<td>30</table></div><script id=grid-template type=text/template><table>
    <thead>
      <tr>
        <th>Имя</th>
        <th>Возраст</th>
      </tr>
    </thead>
    <tbody><% for(var i = 0; i < list.length; i++) { %><tr>
          <td><%=list[i].name%></td>
          <td><%=list[i].age%></td>
        </tr><% } %></tbody>
  </table></script><script>var users=[{name:"Вася",age:10},{name:"Петя",age:15},{name:"Женя",age:20},{name:"Маша",age:25},{name:"Даша",age:30}],tmpl=document.getElementById("grid-template").innerHTML.trim();tmpl=_.template(tmpl),document.getElementById("grid-holder").innerHTML=tmpl({list:users})</script>